body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    margin-top: 50px;
    text-align: center;

}
.search-bar {
    margin-bottom: 20px;
}

#createForm{
  position: absolute;
  text-align: center;


}

#createButton{
    position: absolute;
    margin-top: 8.2%;
    margin-left: 42%;


}

input[type="text"],
input[type="number"],
textarea {
    padding: 15px;
    width: 450px;
    border: 1px solid lightgray;
    border-radius: 9px;
}
button {
    padding: 15px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


/* 
 { 
    width: 50%; 
    padding: 15px; 
    line-height: 5px;

    /* margin: 10px 0;  */
/* 

.hidden { 
    display: none; 
}

.update-btn { 
    padding: 5px 10px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    text-decoration: none; 
}

.update-btn:hover { 
    background-color: #0056b3; 
}

.cancel-btn { 
    padding: 5px 10px; 
    background-color: #f44336; 
    color: white; 
    border: none; 
    cursor: pointer; 
} */